body{
    background:#1A1A1A;
    color:#E0E0E0;
    font-family: 'Helvetica', sans-serif;
}

.hero{
    height:100vh;
    background:url('https://images.pexels.com/photos/247478/pexels-photo-247478.jpeg?cs=srgb&dl=dawn-landscape-mountains-247478.jpg&fm=jpg') center/cover no-repeat;
}
.hero-overlay{
    background:rgba(0,0,0,0.6);
    height:100%;
    display:flex;
    align-items:center;
}

h1,h2{
    color:#D4AF37;
}


.btn-gold{
    background:#D4AF37;
    color:#1A1A1A;
    padding:12px 30px;
    border-radius:30px;
}
.btn-outline{
    border:1px solid #C5A021;
    color:#C5A021;
    background:transparent;
}

.section{
    padding:70px 0;
}
.section-dark{
    background:#111;
}

.features i{
    font-size:32px;
    color:#C5A021;
    margin-bottom:10px;
}

.testimonials .quote{
    font-style:italic;
    color:#E0E0E0;
    margin-bottom:10px;
}

.testimonials h5{
    color:#C5A021;
}

.section-dark{
    margin-top:60px;   
}


.section-dark h2{
    margin-top:-20px;       
    padding-top:0;
}

.testimonials{
    margin-top:30px;     
}


.cta{
    background:url('https://tse3.mm.bing.net/th/id/OIP.3hTszVne552_v1281XsHBwHaFq?rs=1&pid=ImgDetMain&o=7&rm=3')
    center top / cover no-repeat;
    height:350px;
}


.cta-overlay{
    background:rgba(0,0,0,0.6);
    height:100%;
    display:flex;
    align-items:center;
}



.room-card{
    background:#111;
    padding:15px;
    margin-top:20px;
}

.tagline{
    margin-bottom:40px;
    font-size:16px;
    color:#C5A021;
}

.dining-box{
    margin-top:20px;
}

.dining-card{
    background:#111;
    padding:15px;
    margin-bottom:30px;
}

.dining-card img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:6px;
    margin-bottom:15px;
}

.dining-card h4{
    color:#D4AF37;
    margin-bottom:10px;
}

.dining-card i{
    color:#C5A021;
    margin-right:8px;
}

.dining-card ul li{
    margin-bottom:8px;
}


.gallery .col-sm-3{
    padding:10px;                 
}

.gallery-heading {
 margin-bottom: 30px;
 font-size: 40px;
}

.gallery img{
    width:100%;
    height:250px;                
    object-fit:cover;             
    border-radius:6px;
}

.contact-location{
    margin-top:40px;         
}


.map-box iframe{
    border-radius:10px;
}

.contact-location p{
    font-size:16px;
    margin-bottom:15px;     
}

.footer{
    background:#000;
    padding:15px 0;
    font-size:14px;
}




.flex-row{
    display:flex;
    align-items:stretch; 
}

.contact-right{
    display:flex;
    flex-direction:column;
}

.email-box{
    width:80%;
    margin-top:auto;        
    display:flex;
}

.email-input{
    background:transparent;
    border:1px solid #C5A021;
    color:#E0E0E0;
    height:45px;
    flex:1;
    border-radius:30px 0 0 30px;
}

.email-btn{
    height:45px;
    border-radius:0 30px 30px 0;
    padding:0 25px;
}




.shade{
    position:relative;
    background:linear-gradient(
        135deg,
        #7a5c1b 0%,
        #c5a021 25%,
        #ffd966 50%,
        #c5a021 75%,
        #7a5c1b 100%
    );
    color:#1A1A1A;
    padding:12px 34px;
    font-weight:600;
    letter-spacing:1px;
    border-radius:40px;
    border:none;
    box-shadow:
        0 4px 12px rgba(197,160,33,0.35),
        inset 0 1px 1px rgba(255,255,255,0.4);
    transition:all 0.35s ease;
}


